{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <article class="post-summary">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Params.categories }}
        <span class="categories">
          {{ range . }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}
        </span>
      {{ end }}
      {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    </article>
  {{ end }}
</section>
{{ end }}
