{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Date.IsZero | not }}
      {{ if eq .Section "blog" }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.categories }}
          <span class="categories">
            {{ range . }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}
          </span>
        {{ end }}
      {{ end }}
    {{ end }}
  </header>
  {{ .Content }}
</article>
{{ end }}
